<section id="about" class="introduction scrollto">

    <div class="row clearfix">

        <div class="col-3">
            <div class="section-heading">
                <h3>{{about.title}}</h3>
                <h2 class="section-title">{{about.description}}</h2>
                <p class="section-subtitle">{{about.details}}</p>
            </div>

        </div>

        <div class="col-2-3">
        @for (iconblocks of about.Iconblock; track iconblocks) {
            <!--Icon Block-->
            <div class="col-2 icon-block icon-top wow fadeInUp" data-wow-delay="0.1s">
                <!--Icon-->
                <div class="icon">
                    <i class="fa {{iconblocks.icon}} fa-2x"></i>
                </div>
                <!--Icon Block Description-->
                <div class="icon-block-description">
                    <h4>{{iconblocks.tittle}}</h4>
                    <p>{{iconblocks.desc}}</p>
                </div>
            </div>
            <!--End of Icon Block-->
        }
           

        </div>

    </div>


</section>